name: Run tests and lint

env:
  RUST_CHANNEL: 1.85

on:
  push:
    branches:
      - "*"
    paths-ignore:
      - '**/README.md'
      - 'bamboo-specs/**'
      - 'scripts/**'
  pull_request:
    types: [opened, reopened, synchronize]
  workflow_dispatch:

jobs:
  tests:
    name: Test & Lint
    strategy:
      matrix:
        os: [ubuntu-latest, macos-latest]
    runs-on: ${{ matrix.os }}
    if: "!startsWith(github.event.head_commit.message, 'skipci:')"
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install Rust ${{ env.RUST_CHANNEL }}
        uses: dtolnay/rust-toolchain@master
        with:
          toolchain: ${{ env.RUST_CHANNEL }}
          components: rustfmt, clippy

      - name: Rust Cache
        uses: Swatinem/rust-cache@v2

      - name: Run tests
        run: |
          cargo test --workspace

      - name: Lint Rust
        run: |
          make lint-rust
